.new-tweet form {
  width: 100%;
  padding: 20px;
}

#tweet-text {
  width: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 4px solid #545149;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

#tweet-text::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar */
}

.above-tweet {
  display: flex;
  justify-content: flex-start;
}

.under-tweet {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
  font-weight: bold;
}

.under-tweet button {
  background-color: #4055a1;
  color: white;
}

.counter {
  color: inherit;
}

.counter.negative {
  color: red;
}