/* Container Styles */
.posted-tweet-container {
  background-color: #0e0f14;
  background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
  width: 100%;
  padding: 20px;
  border: 4px solid #535149;
  border-radius: 30px;
  margin-bottom: 30px;
}

.posted-tweet-container:hover {
  transition: 0.2s ease;
  box-shadow: 5px 5px 0px #4c65be, -1px -1px 0px #535149;
}

/* Header Styles */
.posted-tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.header-left {
  display: flex;
  gap: 1em;
  height: inherit;
}

.header-left div {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  color: #4c65be;
  border: solid #4c65be;
  border-radius: 25px;
  flex-direction: column-reverse;
  justify-content: center;
}


/* Footer Styles */
.posted-tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  word-spacing: 10px;
}

.posted-tweet-footer div i:hover {
  transition: 0.2s ease;
  transform: scale(1.2);
  color: tomato;
}

/* Content Styles */
#content {
  font-weight: 500;
  margin-left: 1em;
  margin-right: 1em;
  height: 1.5em;
  background-color: inherit;
  background-image: inherit;
  border: none;
  color: #cacae1;
  border-bottom: 4px solid #535149;
  resize: none;
}

#content::-webkit-scrollbar {
  display: none;
}