.posts article {
  width: 100%;
  padding: 20px;
  border: 4px solid #545149;
  border-radius: 5px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans 3';
  font-size: smaller;
}

.post-footer form{
word-spacing: 8px;
}

#post-text {
  height: 2em;
  width: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 4px solid #545149;
  resize: none;
}

#post-text::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar */
}

.post-header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2em;
}