.new-tweet form {
  width: 100%;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#tweet-text {
  height: 2em;
  width: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 4px solid #545149;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

#tweet-text::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar */
}

.tweet-header {
  display: flex;
  justify-content: flex-start;
  font-weight: 650;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
  font-weight: bold;
}

.tweet-footer button {
  background-color: #4055a1;
  color: white;
}

.counter {
  color: inherit;
}

.counter.negative {
  color: rgb(255, 82, 82);
}

/* "Tweets" that have already been "posted" */

.posts article {
  width: 100%;
  padding: 20px;
  border: 4px solid #545149;
  border-radius: 5px;
}

.posts article:hover {
  box-shadow: 7px 7px 0px #cacae1
}

.post-header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2em;
}

#post-text {
  height: 2em;
  width: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 4px solid #545149;
  resize: none;
}

#post-text::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar */
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

/* Footer Icons */

.post-footer div {
  word-spacing: 12px;
}

.post-footer div i:hover {
  transition: 0.2s ease;
  transform: scale(1.2);
  color: rgb(44, 114, 255);
}
